# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\solidity\FireDAO-Protocol\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
